#header-div{
    height: 10vh;
    padding: 8px 1.6667vw 8px 1.6667vw
}

.logo {
    height: auto;
    width: 100vw;
    img{
        width: auto;
        height: 100%;
        object-fit: contain;
    }
}