<div class="main-container" [ngSwitch]="hasBookmarks">
    <div class="main-header">
        <div class="d-flex flex-row justify-content-between">
            <label class="main-title">
                {{"header.bookmarks" | translate}}
            </label>
        </div>
    </div>
    <div class="no-data" *ngSwitchCase="false">
        <div class="no-data-grid">
            <label class="no-data-title">{{"bookmarks.no-bookmarks" | translate }}</label>
            <label class="no-data-subtitle">{{"bookmarks.no-bookmarks-subtitle" | translate }}</label>
            <button type="button" class="btn btn-light col-auto"  routerLink="/">{{"bookmarks.back-to-home" | translate }}</button>
        </div>
    </div>
    <div class="table-grid" *ngSwitchDefault>
        <ng-scrollbar autoHide="true" overlay="true" #scrollbar>
            <app-table-grid></app-table-grid>
        </ng-scrollbar>
    </div>
</div>